{% if page.previous or page.next %}

<nav class="section-pagination" aria-label="Post navigation">

  <div class="section-pagination-previous">
    {% if page.previous %}

      <span>Previous</span>

      <a href="{{ page.previous.url | relative_url }}">
        ← {{ page.previous.title }}
      </a>

    {% endif %}
  </div>

  <div class="section-pagination-next">
    {% if page.next %}

      <span>Next</span>

      <a href="{{ page.next.url | relative_url }}">
        {{ page.next.title }} →
      </a>

    {% endif %}
  </div>

</nav>

{% endif %}
