table {
  border-collapse: collapse;
  margin: 1.5rem auto;
  font-size: 0.95rem;
  overflow-x: auto;
  max-width: 100%;
}

th, td {
  border: 1px solid #aaa;
  padding: 0.4rem 0.6rem;
}

th, td:first-child {
  background: #f0f0f0;
  font-weight: 600;
}
