<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/main.css">
	<script src="/assets/scripts/calendar.js" defer></script>
	<script src="/assets/scripts/today.js" defer></script>
	<script src="/assets/scripts/nav.js" defer></script>

	<script src="/assets/scripts/mathjax-config.js" defer></script>
	<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" defer></script>

	<link rel="icon" type="image/svg+xml" href="/assets/images/danetiska_academia_favicon.svg">

	<title>Danetian Academy</title>
</head>
<body>
<div class="page">

<header class="masthead">
  <nav class="site-nav">
    <a href="/"><img src="/assets/images/danetiska_academia_logo.svg" class="nav-logo"></a>

    <button class="nav-toggle">&equiv;</button>

    <ul class="nav-links" id="primary-nav">
      <li><a href="/about">About</a></li>
      <li><a href="/language">Language</a></li>
      <li><a href="/texts">Texts</a></li>
      <li><a href="/dictionary">Dictionary</a></li>
      <li><a href="/calendar">Calendar</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>

<main>
<!--${CONTENT}-->
{{ content }}
</main>

<footer class="site-footer">
  <div class="footer-inner">
<!--
    <div class="footer-brand">
      <a href="/"><img src="/assets/images/danetiska_academia_logo.svg" class="nav-logo"></a>
    </div>
-->
    <div class="footer-meta">© 2016–2026 Danetian Academy</div>

    <nav class="footer-legal">
      <a href="/editorial-note">Editorial note</a>
      <a href="/legal">Legal notice</a>
      <a href="/privacy">Privacy</a>
      <a href="/external-resources">External Resources</a>
    </nav>
  </div>
</footer>


</div>
</body>
</html>
