<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/main.css">
	<script src="/assets/scripts/calendar.js" defer></script>
	<script src="/assets/scripts/today.js" defer></script>

	<script src="/assets/scripts/mathjax-config.js" defer></script>
	<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" defer></script>

	<link rel="icon" type="image/svg+xml" href="/assets/images/da_logo_white_bg.svg">

	<title>Danetian Republic</title>
</head>
<body>

<header>
	<a href="/"><img src="/assets/images/danetian_coat_of_arms.svg" class="main-logo"></a>
	<h1 class="academy-logo"><a href="/">Danetiska Respublica</a></h1>
	<div class="header-date" id="gregorian_date_today"></div>
	<div class="header-date" id="danetian_date_today"></div>
</header>

<nav class="site-nav">
<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/texts.html">Texts</a></li>
	<li><a href="/calendar.html">Calendar</a></li>
	<li><a href="/blog.html">Blog</a></li>
</ul>
</nav>

<!--
<h2>Today's date is:
<span id="danetian_date_today"></span>
</h2>
<script src="today.js"></script>
-->

<main>
<!--${CONTENT}-->
{{ content }}
</main>

<footer>
<img src="/assets/images/danetian-flag.svg" class="flag-icon" alt="Danetian flag">
<span>© 2016-2025 Danetian Republic. All rights reserved.</span>
</footer>

</body>
</html>
