<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/main.css">
	<script src="/assets/scripts/calendar.js" defer></script>
	<script src="/assets/scripts/today.js" defer></script>
	<script src="/assets/scripts/nav.js" defer></script>

	<script src="/assets/scripts/mathjax-config.js" defer></script>
	<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" defer></script>

	<link rel="icon" type="image/svg+xml" href="/assets/images/danetian_flag_favicon.svg">

	<title>Danetian Academy</title>
</head>
<body>
<div class="page">

<header class="masthead">
  <nav class="site-nav">
    <a href="/"><img src="/assets/images/danetiska_academia_logo.svg" class="nav-logo"></a>
	<!--<h1 class="site-logo"><a href="/">Danetiska Academia</a></h1>-->
	<!--<div class="header-date" id="gregorian_date_today"></div>
	<div class="header-date" id="danetian_date_today"></div>-->

    <button class="nav-toggle">&equiv;</button>

    <ul class="nav-links" id="primary-nav">
      <li><a href="/">Institution</a></li>
      <li><a href="/texts.html">Language</a></li>
      <li><a href="/blog.html">Publications</a></li>
      <li><a href="/blog.html">Blog</a></li>
      <li><a href="/blog.html">Contact</a></li>
    </ul>
  </nav>
</header>

<!--
<h2>Today's date is:
<span id="danetian_date_today"></span>
</h2>
<script src="today.js"></script>
-->

<main>
<!--${CONTENT}-->
{{ content }}
</main>

<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-brand">
      <img src="/assets/images/danetian-flag.svg" class="flag-icon" alt="Danetian flag">
      <div>
        <div class="footer-title">Danetian Academy</div>
        <div class="footer-meta">© 2016–2026 Danetian Academy</div>
      </div>
    </div>

    <div class="footer-contact">
    <div class="footer-meta">Danetiska Academia. Pontos Archidiecesis. Kustendja.</div>
      <div class="footer-meta"><a href="/contact.html">Contact</a></div>
    </div>

    <nav class="footer-legal" aria-label="Legal">
      <a href="/legal.html">Legal notice</a>
      <a href="/privacy.html">Privacy</a>
      <a href="/accessibility.html">Accessibility</a>
    </nav>
  </div>
</footer>


</div>
</body>
</html>
